<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cornice II Bowl</key>
	<string></string>
	<key>Eagle's Nest</key>
	<string></string>
	<key>Enchanted Forest</key>
	<string></string>
	<key>Fingers</key>
	<string></string>
	<key>Light Towers/Headwall</key>
	<string></string>
	<key>Mainline Pocket</key>
	<string></string>
	<key>Olympic Lady</key>
	<string></string>
	<key>The Nose</key>
	<string></string>
	<key>The Palisades</key>
	<string></string>
	<key>West Side KT22</key>
	<string></string>
</dict>
</plist>
